{% extends "network/layout.html" %}
{% load static %}
{% block body %}
{% if user.is_authenticated %}
<div id="new-post">
    
    <h3>New Post</h3>
    <form action="{% url 'all_posts' 'post' %}" id="post-form" method="post">
        {% for element in form %}
        {{ element.label_tag }}
        <div class="element">
            {{ element }}
        </div>
    {% endfor %}
    <div>
        <input class="sub" type="submit" value="Submit entry"> 
    </div>
    </form>
    
</div>
{% endif %}

<div id="all-posts-view">
    {% for post in page_obj %}
    {# Each "post" is a UserPosts model object. #}
    
    <!-- makes the usernames displayed with the post links to the usres profile, sends
    the 'posts username' to the all_posts view -->
    <div id="user-link"><a href="{% url 'all_posts' post.user %}"><strong id="user-name">{{ post.user.username }}</strong></a> said {{ post.post }}<br></div>
    <div id="time-stamp"></p>Date {{ post.timestamp }}<br></div>
    
    {% if show_foll %}
    <div id="followers">Followers {{ post.user.followers }}<br></div>
    <div id="followed">followed {{ post.user.followed }}<br></div>
    {% endif %}
    
    <div id="likes">Likes {{ post.likes }}</div>
    <br>
    <br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% if user.is_authenticated %}
{% if not_logged_in_user %}
<div id=buttondiv>
    <form>
        <input id="follow" type="submit" value="">
    </form>
</div>
{% endif %}
{% endif %}

<!-- {% if not_logged_in_user %}
<div id="follow">
    <button id="button" data-user={{ not_logged_in_user }}>Follow</button>
</div>
{% endif %} -->



{% endblock %}

{% block script %}
    <script src="{% static 'network/net.js' %}"></script>
{% endblock %}